* {
  margin: 0;
  padding: 0; }

#header {
  height: 10vh !important;
  background-color: #66635b; }
  #header div {
    height: 100%; }
    #header div .ant-col {
      display: flex;
      justify-content: center;
      align-items: center; }
      #header div .ant-col .logout {
        justify-content: flex-end; }
  #header button {
    background-color: #ca031d;
    border: 1px solid #f72843; }

#content {
  height: 80vh !important;
  background-color: #e4dfda;
  display: flex;
  align-items: center;
  justify-content: center; }

#footer {
  height: 10vh !important;
  background-color: #e4dfda;
  display: flex;
  justify-content: center; }

.form-Container {
  height: 75%;
  width: 40%;
  border-radius: 5%;
  background-color: rgba(53, 129, 184, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 600px;
  min-width: 530px; }
  .form-Container h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem; }

.formulario-login {
  width: 70%; }

.formulario-edicion {
  width: 95%; }

.ant-modal-footer {
  display: flex;
  justify-content: space-evenly; }
