* {
  margin: 0;
  padding: 0;
}

$grisClaro: #a59e8c;
$grisOscuro: #66635b;
$detalles: #75f4f4;

#header {
  height: 10vh !important;
  background-color: $grisOscuro;
}

#content {
  height: 80vh !important;
  background-color: $grisClaro;
}

#footer {
  height: 10vh !important;
  background-color: $grisClaro;
}
